<div class="container bg-light py-5">
    <h1 class = "display-5 fw-bold">Welcome To Quiz App </h1>
    <p class="col-md-8 fs-4">This Quiz contain total 9 questions. Each Question hold 10 points</p>
<ol>
<li>Correct Question give you 10 points(+10)</li>
<li>Incorrect Question deduct 10 points(-10)</li>
<li>You have only 60 sec to answer each question</li>
<li>Refreshing the page will reset the Quiz</li>
</ol>
<h1 style="font-family:'Courier New', Courier, monospace; text-align:center">All the best</h1>
<div class="name col-md-4 my-3">
     <label for="">Enter Your Name:</label>
     <input #name type="text" class="form-control">
</div>
<button class="btn btn-primary btn-lg"routerLink="/question" (click)="startQuiz()">Start the Quiz</button>
</div>
